<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question.user["name"] %>
</p>

<p>
  <strong>Vote score:</strong>
  <%= @question.vote_score %>
</p>

<p>
  <strong>Up vote:</strong>
  <%= @question.up_vote %>
</p>

<p>
  <strong>Down vote:</strong>
  <%= @question.down_vote %>
</p>

<p>
  <strong>Num answers:</strong>
  <%= @question.num_answers %>
</p>

<p>
  <strong>Question title:</strong>
  <%= @question.question_title %>
</p>

<p>
  <strong>Question body:</strong>
  <%= @question.question_body %>
</p>

<ul>
<% Answer.where(question_id: params[:id]).each do |x| %>
<p><%= x.user.name %> <%= x.answer_context%> answered on <%= p x.created_at.to_date %>
</p> <li><p><%= x.answer_body %></p> <p><%= x.vote_score %></p> <%= button_to 'Upvote', upvote_answer_path(x), method: :post %><%= button_to 'Downvote', downvote_answer_path(x), method: :post %> <br/>
</li><% end %>
</ul>
        <% if current_user == nil%>

        <% elsif @question.user["id"] == current_user["id"] %> 
          <%= link_to 'Edit', edit_question_path(@question) %> |
          <%= link_to 'Back', questions_path %>
        <%else%>
        <%= link_to 'Back', questions_path %>
        <% end %>

